@font-face {
    font-family: SoraLight;
    src: url('../font/Montserrat-Light.ttf')
}
@font-face {
    font-family: SoraMedium;
    src: url('../font/Montserrat-Medium.ttf')
}
@font-face {
    font-family: SoraRegular;
    src: url('../font/Montserrat-Regular.ttf')
}



@font-face {
    font-family: SoraBold;
    src: url('../font/Montserrat-Bold.ttf')
}

.SubTitleSora{
    font-family:SoraRegular;
    letter-spacing:0.15px;
    font-size:16px;
}

.SRbody {
    font-family: SoraRegular;
    letter-spacing: 0.5px;
    line-height: 1.375 em;
    font-size: 14px;
}

.SRdisplay {
    font-family: SoraLight;
    letter-spacing: 0px;
    font-size: 142px;
}

.SRheader {
    font-family: SoraBold;
    letter-spacing: 0px;
    font-size: 34px;
}
/*table tile form*/
.SRtitle1 {
    font-family: SoraMedium;
    letter-spacing: 0.1px;
    font-size: 24px
}
/*button */

.SRtitle2 {
    font-family: SoraMedium;
    letter-spacing: 0.1px;
    font-size: 22px
}

.SRtitle3 {
    font-family: SoraMedium;
    letter-spacing: 0.1px;
    font-size: 16px
}

.SRbutton {
    font-family: SoraMedium;
    letter-spacing: 1.25px;
    font-size: 14px;
}

.SRcaption {
    font-family: SoraRegular;
    letter-spacing: 0.4px;
    font-size: 12px;
}

.SRorverline {
    font-family: SoraRegular;
    letter-spacing: 1.5px;
    font-size: 10px;
}