
@{
    ViewBag.Title = "MDSD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<p class="SRheader">DANH MỤC CHUYỂN MỤC ĐÍCH</p>
@(Html.DevExtreme().DataGrid<QHKH.Models.DM_CHUYENMUCDICH>()
                   .ID("grvCMD")
                   .Selection(s => s.Mode(SelectionMode.Single))
     .DataSource(d => d.WebApi()
                    .RouteName("GetDanhMuc").LoadAction("ChuyenMucDich").Key("ID")
                    .InsertAction("PostCMD")
                    .UpdateAction("PutCMD")
                    .DeleteAction("DeleteCMD")
                ).ShowBorders(true)
               .ColumnAutoWidth(true)
                .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
               .ShowRowLines(true)
               .Paging(p => p.PageSize(20))
                 .SearchPanel(searchPanel => searchPanel.Visible(true))
               .Columns(columns =>
               {
                   columns.AddFor(m => m.ID).Caption("STT").AllowEditing(false);
                   columns.AddFor(m => m.KYHIEU).Caption("Ký Hiệu").AllowEditing(true);
                   columns.AddFor(m => m.TEN).Caption("Tên Mục Đích").AllowEditing(true);
                   columns.AddFor(m => m.CHIMUC).Caption("Chỉ Mục").AllowEditing(true);
                   columns.AddFor(m => m.CHIMUCTINH).Caption("Chỉ Mục Tỉnh").AllowEditing(true);

                   columns.AddFor(m => m.ID_CAPTREN).Caption("Cấp Cha")
                              .Lookup(lookup => lookup
                              .DataSource(d => d.WebApi().RouteName("GetDanhMuc")
                              .LoadAction("ChuyenMucDich").Key("ID"))
                              .DisplayExpr("TEN")
                              .ValueExpr("ID"));

                   columns.AddFor(m => m.CAPTINH).DataType(GridColumnDataType.Boolean).Caption("Cấp Tỉnh").AllowEditing(true);


               })
               .Editing(e => e.Mode(GridEditMode.Popup)
           .AllowUpdating(true)
           .AllowAdding(true)
           .AllowDeleting(true)
           .UseIcons(true)
           .Popup(p => p
               .Title("Thông tin chuyển mục đích")
               .ShowTitle(true)
               .Width(700)
               .Height(325)
           )
           .Form(f => f.Items(items =>
           {
               items.AddGroup()
                   .ColCount(2)
                   .ColSpan(2)
                   .Items(groupItems =>
                   {
                       groupItems.AddSimpleFor(m => m.KYHIEU);
                       groupItems.AddSimpleFor(m => m.TEN);
                       //groupItems.AddSimpleFor(m => m.CHIMUC);
                       //groupItems.AddSimpleFor(m => m.CHIMUCTINH);
                       groupItems.AddSimpleFor(m => m.ID_CAPTREN).IsRequired(false);
                       groupItems.AddSimpleFor(m => m.CAPTINH).IsRequired(false);

                   });


           }))
        ))
<script>
     function ChonHuyenXa(e) {
        e.data.MAHUYEN = '@ViewData["MaHuyen"]';
        e.data.MAXA = '@ViewData["MAXA"]';
        e.data.CAPTINH = '@ViewData["ISCAPTINH"]' == 'True' ? true : false;

    }
</script>