
@{
    ViewBag.Title = "KCN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<p class="SRheader">DANH MỤC LOẠI CHỨC NĂNG</p>
@(Html.DevExtreme().DataGrid<KEHOACHQH.DAL.DM_LOAIKHUCHUCNANG>()
                   .ID("grvCMD")
                   .Selection(s => s.Mode(SelectionMode.Single))
     .DataSource(d => d.WebApi()
                    .RouteName("GetDanhMuc").LoadAction("KhuChucNang").Key("ID")
                    .InsertAction("PostKCN")
                    .UpdateAction("PutKCN")
                    .DeleteAction("DeleteKCN")
                ).ShowBorders(true)
               .ColumnAutoWidth(true)
                .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
               .ShowRowLines(true)
               .Paging(p => p.PageSize(20))
                 .SearchPanel(searchPanel => searchPanel.Visible(true))
               .Columns(columns =>
               {
                  // columns.AddFor(m => m.ID).Caption("STT").AllowEditing(false);
                   columns.AddFor(m => m.KYHIEU).Caption("Ký Hiệu").AllowEditing(true);
                   columns.AddFor(m => m.TEN).Caption("Tên Mục Đích").AllowEditing(true);
                   columns.AddFor(m => m.NGAYTAO).Caption("NGÀY TẠO").DataType(GridColumnDataType.DateTime).Format("dd/MM/yyyy").AllowEditing(false);
                   columns.AddFor(m => m.CAPTINH).DataType(GridColumnDataType.Boolean).Caption("Cấp Tỉnh").AllowEditing(true);


               }).Editing(e => e.Mode(GridEditMode.Popup)
           .AllowUpdating(true)
           .AllowAdding(true)
           .AllowDeleting(true)
           .UseIcons(true)
           .Popup(p => p
               .Title("Thông tin khu chức năng")
               .ShowTitle(true)
               .Width(700)
               .Height(300)
           )
           .Form(f => f.Items(items =>
           {
               items.AddGroup()
                   .ColCount(1)
                   .ColSpan(2)
                   .Items(groupItems =>
                   {
                       groupItems.AddSimpleFor(m => m.KYHIEU);
                       groupItems.AddSimpleFor(m => m.TEN);
                                         groupItems.AddSimpleFor(m => m.CAPTINH).IsRequired(false);

                   });


           }))
        ))
