
@{
    ViewBag.Title = "KVHC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br />
<br />
<br />
<p class="SRheader">DANH MỤC HÀNH CHÍNH</p>
@(Html.DevExtreme().DataGrid<QHKH.Models.DM_KVHC>()
                   .ID("grvCMD")
                   .Selection(s => s.Mode(SelectionMode.Single))
     .DataSource(d => d.WebApi()
                    .RouteName("GetDanhMuc").LoadAction("KVHC").Key("MA_KVHC")
                    .InsertAction("PostKVHC")
                    .UpdateAction("PutKVHC")
                    .DeleteAction("DeleteKVHC")
                ).ShowBorders(true)
               .ColumnAutoWidth(true)
                .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
               .ShowRowLines(true)
               .Paging(p => p.PageSize(20))
                 .SearchPanel(searchPanel => searchPanel.Visible(true))
               .Columns(columns =>
               {
                   columns.AddFor(m => m.MA_KVHC).Caption("MA_KVHC").AllowEditing(false);
                   columns.AddFor(m => m.TEN_KVHC).Caption("Tên ").AllowEditing(true);
                   columns.AddFor(m => m.DIACHI).Caption("Địa chỉ").AllowEditing(true);
                   columns.AddFor(m => m.MA_KVHC_CHA).Caption("Cấp Cha")
                              .Lookup(lookup => lookup
                              .DataSource(d => d.WebApi().RouteName("GetDanhMuc")
                              .LoadAction("KVHC").Key("MA_KVHC"))
                              .DisplayExpr("TEN_KVHC")
                              .ValueExpr("MA_KVHC"));



               })
               
               
           
        )
